/* 타블렛*/

html {font-size: 1.65vw;}
.container {width: 90%;}

.gnb:before {display: none;}
footer .ftrRht {display: none;}
/* .mypageWrap {margin-top: min(1rem, 10px);} */

.bookShow .bookShowRht .bestSellerTop h3 {display: none;}

/* 메인 */
.gnbMiddle .gnbMid-left {width: 60%;}
.mnCnt01 .eduTab ul {width: 100%;}
.mainBnrWrap .slide-cont .slick-pause {left: 13%;}

/* 교재 상세 /2023/books/detail.asp */
.bkCntInfo-nav.pcShow {width: 60vw;}
.bookView-TopWrap .bkView-Category {padding-top: min(2rem, 20px);}
.bkCntInfoWrap .openTabWrap:after {display: none;}

/* 우측 퀵메뉴 */
.qickMenuWrap {bottom: 30px; top: initial;}


/*마이페이지 상단 /2023/mypage/points.asp */
.mypage-top .mypageInfo {padding: 30px 20px;}
.mypage-top .mypageInfo .profile {width: 50px; height: 50px;}


/* 장바구니 /2023/mypage/cart.asp */
.mypage-sec .myPageCnt .bkAmountWrap {width: 33%;}

/* 고객센터 /2023/customer/faq.asp */
.faqList .qIcon {width: 20px; height: 20px; line-height: 20px;}
.faqList dt {padding: min(2rem, 20px) 7%;}
.faqList dd {padding: min(2rem, 20px) 7%;}